@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap%27");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap%27");
* {
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #eef0f5;
}

/* #root, html, body {
	margin: 0;
	margin-top: 0px;
} */

html {
	margin: 10px;
}